@import url('https://fonts.googleapis.com/css?family=Geostar+Fill&display=swap');

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */


.maincontainer {
  margin: 10%;
}

body {
  background-color: #34353a;
}

.signinDiv {
  text-align: center;
  left: 42%;
  position: absolute;
  top: 32%;
}

#stark {
  font-family: 'Geostar Fill', cursive;
  font-size: 4rem;
  text-align: center;
}

.ui.form .field>label {
  color: white;
}

.signupDiv {
  position: absolute;
  top: 32%;
  left: 34%;
}

.signup-button {
  text-align: center;
}

.ui.submit.button.signup {
  font-family: "Times New Roman";
}

.stocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: -5%;
}

.ui.card {
  /* max-width: none; */
  width: 100%;
  /* margin-bottom: 20%; */
}

.outerCard {
  padding: 10%;
}

.ui.inverted.menu {
  background: black;
  /* border: transparent; */
}

.ui.vertical.menu {
  position: fixed;
  left: 0%;
  height: 100%;
  border-radius: 0%;
  top: 0%;
  width: 16rem;
}

.ui.menu.fixed {
  height: 7%;
}

.ui.menu:first-child {
  margin-top: none;
}

.ui.centered.card {
  border-radius: 0%;
  background-color: transparent;
  box-shadow: -1px -2px 0px 0;
}


.profile_pic {
  box-shadow: -1px -1px 7px 0px;
  margin: 0%;
}

